$borderColour: #6d6d6d;

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

h1, h2 {
    text-align: center;
}

img {
    height: 300px;
    border: 2px solid $borderColour;
    margin-bottom: 30px;
}

table {
    margin-bottom: 20px;

    tr {
        border-bottom: 1px solid $borderColour;

        &:last-child {
            border: none;
        }

        td {
            padding: 6px 15px;

            &:first-child {
                font-weight: bold;
                width: 170px;
                text-align: right;
                border-right: 1px solid $borderColour;
            }
        }
    }
}

.nav-pills {
    margin-left: -16px;
    margin-right: -16px;

    .nav-link {
        &.active {
            background-color: white;

            .nav-link-content {
                font-weight: bold;
            }
        }

        .nav-link-content {
            color: $borderColour;
            position: relative;
            height: 30px;
        }

        .nav-link-content:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $borderColour;
            visibility: hidden;
            border-radius: 5px;
            transform: scaleX(0);
            transition: 0.15s linear;
        }

        .nav-link-content:hover:before,
        .nav-link-content:focus:before,
        &.active .nav-link-content:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}
