@page
@model IndexModel
@{
    ViewData["Title"] = "Me";
}

<div class="text-center">
	<h1>Hi!</h1>
	<h2>I'm Henri.</h2>
    <img src="~/img/face.jpg"/>
</div>

<p>Senior Full-stack developer with @Convert.ToInt32((DateTime.UtcNow - new DateTime(2014, 5, 2)).TotalDays / 365.2425) years of professional experience and a Master's degree in Mathematical Information Technology. On this site I have gathered some information about me, my projects and my interests.</p>

<p>I'm a @Convert.ToInt32((DateTime.UtcNow - new DateTime(1990, 7, 2)).TotalDays / 365.2425)-year-old guy living in Turku, Finland. Aside from programming, I enjoy spending my free time playing floorball (on an almost-serious level) or watching sports streams. I wrote my first Java programs when I was 14 years old and coding is still a dear hobby for me.</p>

<p>My preferred stack consists of the following technologies:
    <ul>
        <li>ASP.NET backend</li>
        <li>React frontend with state management by Redux</li>
        <li>Microsoft SQL Server/PostgreSQL/MongoDB database</li>
        <li>Azure cloud for hosting</li>
        <li>Azure DevOps for CI/CD</li>
    </ul>
</p>

<p>I consider myself curious by nature and I get genuinely excited when placed into an innovative environment. That mindset is transferred into my development work, where I encourage the team to try out new ideas to deliver the most customer value. Sometimes things might break along the way, but honestly I think that's fine and it just means that we're moving fast enough.</p>

<p>In order to balance it out, a stable software architecture is needed. I've worked as the main frontend architect for a project that needs to serve several million unique users yearly. We opted for a micro-service architecture using web component technologies to separate different development domains. I would love to talk more about that.</p>

<p>In addition to web development, I'm well-versed in building production-scale server-side software for IoT systems. I finished my Master's thesis about IoT reliability and security back in 2016, and have been maintaining an actual production system for certain devices ever since.</p>

<p>Read more about me from my <a asp-page="/Career">Career history</a> or check out my <a asp-page="/Projects">Personal projects</a>.</p>

