<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Hmurt</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="pills-home" aria-selected="true">
                <div class="nav-link-content">Home</div>
            </a>
            <a class="nav-item nav-link" id="cv-tab" data-toggle="pill" href="#cv" role="tab" aria-controls="pills-home" aria-selected="true">
                <div class="nav-link-content">CV</div>
            </a>
            <a class="nav-item nav-link" id="projects-tab" data-toggle="pill" href="#projects" role="tab" aria-controls="pills-home" aria-selected="true">
                <div class="nav-link-content">Projects</div>
            </a>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Hmurt</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/vendor.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/vendor.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
