@page
@model IndexModel
@{
    ViewData["Title"] = "Career";
}

<h1 class="my-5">@ViewData["Title"]</h1>

<table class="table">
	<thead>
	<tr>
		<td class="text-nowrap">Time span</td>
		<td>Role</td>
		<td>Description</td>
	</tr>
	</thead>
	<tr>
		<td class="text-nowrap">10/2018 - Present</td>
		<td>Full-stack software developer, <b>Vincit Oyj</b></td>
		<td>Member of a Nordic development team in a longer consulting project. The customer had issues with too wide development domains for individual teams. My team was tasked with architecturally separating non-overlapping domains and designing micro-services for each domain. I took responsibility of the frontend architecture, where we opted for a web component approach. These web components are now in production and serving millions of unique users every year.</td>
	</tr>
	<tr>
		<td class="text-nowrap">5/2014 - 9/2018</td>
		<td>Full-stack software developer, <b>Protacon Solutions Oy</b> (now Pinja)</td>
		<td>Various consulting projects, focusing on both backend and frontend development. My main responsibilities were developing new features for custom ERP and CRM systems, including integrations and performance optimizations. I enjoyed the possibility to improve the UX in these complex systems, and learned the importance of delivering actual custom value with software.</td>
	</tr>
</table>

<h2 class="my-5">Education</h2>

<table class="table">
	<tr>
		<td>2016</td><td>M.Sc, Mathematical Information Technology. University of Jyväskylä. I wrote my master's thesis about IoT reliability and security and it is available <a href="https://jyx.jyu.fi/dspace/handle/123456789/52455" target="_blank">here.</a> (Only in Finnish)</td>
	</tr>
	<tr>
		<td>2014</td><td>B.Sc, Mathematical Information Technology. University of Jyväskylä. I wrote my bachelor's thesis about procedurally generated 2D and 3D environments in games.</td>
	</tr>
	<tr>
		<td>2009</td><td>High school diploma, Paimion lukio. Includes optional IT courses from The Open University of University of Turku.</td>
	</tr>
</table>

